
body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    margin:auto;
    width: 400px;
    height: 550px;
    background-color: #343434;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.257) 0px 0px 11px;
}

.display{
    margin: 18px 18px;
    height: 15%;
    background-color: #d3d3d3;
    padding: 10px;
    padding-right: 15px;
    border-radius: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.411) 0px 0px 11px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    color: black;
    
}